:root{
    --primary-color: #ff4400;
    --text-color: #fefefe;
    --bg-clear: #d1d1d1;
}


*{
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.primary{
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    color: var(--text-color);
    text-transform: uppercase;
    display: block;
}

.logo{
    & span{
        color: var(--primary-color);
    }
}

.section_title{
    text-transform: uppercase;
    text-align: center;
    color: #3c3c3c;
    font-size: 1.7rem;
    margin-bottom: 30px;
}

strong{
    font-weight: 700;
    color: var(--primary-color);
}

/* Nav */
.nav_top{
    position: fixed;
    padding: 30px 35px;
    background-color: #fefefe;
    box-shadow: 1px 3px 20px #00000025;
    width: 100vw;
    z-index: 4;
}
.nav_top .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn_menu{
    font-size: 20px;
    background-color: var(--bg-clear);
    padding: 5px 12px;
    border-radius: 5px;
}

.menu_list{
    position: absolute;
    top: 100px;
    background-color: #fefefe;
    padding: 20px 15px;
    list-style: none;
    border-radius: 10px;
    width: 80%;
    box-shadow: 1px 3px 20px #00000025;
}
.menu_list li a{
    color: #3c3c3c;
    padding: 20px;
    display: block;
    font-weight: 700;
    text-align: center;
    transition: all .3s ease;
}
.menu_list li a:hover{
    background-color: #e1e1e1;
}

.ocult{
    top: -1000px;
    opacity: 0;
}


/* Header */

.header_top{
    padding: 150px 35px 10px;
    background-image: linear-gradient(345deg, #ffa600, var(--primary-color) 40%, #fefefe 40%);
    position: relative;
    height: 650px;
}

.header_top .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 30px;
    box-sizing: border-box;
}
.info_txt{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}
.image_header{
    box-sizing: border-box;
    & img{
       position: absolute; 
       left: 0;
       bottom: -30px;
    }
}


/* Section 1 */
#about{
    
}
#about .container{
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
}

.section_text{
    text-align: center;
    & p{
        margin-bottom: 25px;
        font-size: 1rem;
    }
}
.section_image{
    background-color: #ffffff;
    box-shadow: 1px 3px 20px #00000025;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    transform: rotate(5deg);
    & h3{
        font-weight: 500;
        color: #3c3c3c;
        margin-top: 10px;
    }
}