.container{
    padding: 40px 25px;
    min-height: 100vh;
    position: relative;
    background-image: url('../../../../assets/desktopWord.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: bottom center;
}

.content{
    max-width: 400px;
}

.text_content{
    margin-top: 32px;
    margin-bottom: 48px;
    color: var(--gray-text);
}

.review_data{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 48px;
}

.star_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25em;
    color: #fbfb0d;
    font-size: 1.5em;
}

.review_text{
    text-transform: capitalize;
}
.review_data span{
    font-weight: 700;
    font-size: 1.25em;
}

.links_container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.action_secondary{
    margin-top: 24px;
    color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    font-size: 1em;
    & span{
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background-color: var(--main-color);
    }
}

.floating_card{
    background-color: var(--dark-color);
    color: var(--gray-color);
    position: absolute;
    padding: 25px 30px 20px 20px;
    border-radius: 20px;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.close{
    position: absolute;
    right: 16px;
    top: 16px;
}


@media screen and (min-width: 768px) {
    .container{
        min-height: auto;
        padding: 40px 65px;
        background-position: right;
        background-size: 60%;
    }
    .content{
        max-width: 55%;
    }
    .header_title{
        font-size: 3em;
    }
    .text_content{
        font-size: 1.25em;
    }
    .links_container{
        flex-direction: row;
        align-items: center;
        gap: 1.5em;
    }

    .action_secondary{
        margin: 0;
    }

    .floating_card{
        top: 25%;
        bottom: auto;
        transform: none;
        left: 60%;
        font-size: 1.5em;
    }
    .review_data{
        justify-content: start;
    }
    .field{
        font-size: .75em;
    }
}

@media screen and (min-width: 1024px){
    .container{
        max-width: 1244px;
        margin: auto;
        padding: 90px;
        background-size: 50%;
    }
    .content{
        max-width: 45%;;
    }

    .floating_card{
        top: 20%;
        left: 55%;
    }
}